

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
   	background: #eee;
   	padding-top: 0;
   }

   .container{

   	padding-left: 0;
   	padding-right: 0;
   }

   .container-full {
	  margin: 0 auto;
	  width: 100%;
	  background-image: url(../img/torihana_cover.png?1426485854) !important;
  	  background-repeat: no-repeat;
  	  background-size: cover;
  	  min-height: 250px;
  	  padding: 100px 0 0;

	}

	.v_title, .v_description {
	  color: #fff;
	  text-shadow: 0px 1px 2px #333;
	}

	.v_title{
		font-size: 48px;
		font-family: "Merriweather" !important;
	}

	.v_description{
		  font-size: 24px;
  margin-top: 36px;
  margin-bottom: 98px;
    font-family: "Open Sans" !important;
	}

	.logo-img{
		width: 62px;
	}

	.container-full1.nav1{
		width: 100%;
	background: white;
	}

	@media (min-width: 1200px) {
    .fluid-nav-cus{
		padding-left: 56px;
	}
  }

  .header-rest{
  	color: #515151;
  }

  .side-img{
  	width: 100%;
  }

  .philosophy-row{
  	  padding-top: 16px;
  padding-bottom: 16px;
  background: white;
  margin-bottom: 32px;
  }

  .head-space{
  	margin-bottom: 16px;
  }


















